* {
    margin: 0;
}



article {
    
    display: flex;
    align-items: center;
    margin: 5%;
}

p {
    margin: 5%;
}

h1 {
    text-align: center;
    margin-top: 5%; 
}

figcaption {
    text-align: center;
}

footer {
    color: white;
}

.nav-link {
    color: white;
}