html {
    padding: 0%;
    margin: 0%;
}
.formMess {
    display: flex;
    justify-content: center;
}


article {
    display: flex;
    align-items: center;
    margin: 5%;
}
.article2 {
    display:inline;
    padding: 5%;
}

main p {
    margin: 5%;
   
}
.p1 {
    padding-right: 15%;
    padding-left: 15%;
}

h1, h2 {
    text-align: center;
    margin-top: 5%; 
}

h2 {
    text-align: center;
    margin-top: 5%; 
}

figcaption {
    text-align: center;
    font-style: italic;
}

footer {
    color: white;
}

.nav-link {
    color: white;
}

.center {
    display: flex;
    max-width: fit-content;
    flex-direction: column;
    margin: auto;
    margin-bottom: 3%;
    padding: 3%;
    border: solid black 3px;
}

footer p{
    margin: 0;
    padding-left: 8px;
}

.subtitle_picture{
    font-style: italic;
}
